<?xml version="1.0" encoding="UTF-8"?>

<!--
scan : 默认每分钟扫描logback的xml配置文件，如果有改动就热加载
debug : 打印 Logback自身的Status信息
packagingData : 打印trace中每一行的Class名以及Class所在的包名称以及版本
-->
<configuration debug="true" scan="false" packagingDatda="true">

    <contextName>hqjSpringTest</contextName>

    <property resource="logback.properties" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${hqj.log.level:-info}">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>